################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab3/FileContentIndex/f1e14538-cca0-4b51-b188-bb86b7a90db0.vsidx
